// google font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
*, *:after, *:before {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


// .loader{
//     position: fixed;
//     height: 100vh;
//     width: 100%;
//     top: 0;
//     left: 0;
//     background: #fff;
//     z-index: 99;

//     & .L_circle_container{
//             position: fixed;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             height: 100px;
//             width: 65px;
//             z-index: 999;
//             overflow: visible;
//         & .L_circle{
//             position: absolute;
//             height: 25px;
//             width: 25px;
//             border-radius: 50%;
//             background: #E31A1C;
//         }

//         & .L_circle:nth-child(1){
//             left: 0%;
//             animation: animL 1.4s linear infinite;
//             background: #FD8D3C;
//             background: #E31A1C;
            
//         }
//         & .L_circle:nth-child(2){
//             left: 50%;
//             animation:  animL 1.4s linear infinite;
//             animation-delay: 0.4s;
//             background: #E31A1C;
//             background: #FD8D3C;
//         }
//         & .L_circle:nth-child(3){
//             left: 100%;
//             background: #FED976;
//             animation: animL 1.4s linear infinite;
//             animation-delay: 0.8s;
//         }

//     }
// }

@keyframes animL{
    0% {
        top: 0%;
    }
    25%{
        top: -8%;
    }
    50%{
        top: 0%;
    }
    75%{
        bottom: -8%;
    }
    75%{
        top: 0%;
    }
}

// variables
$orangeColor: #FE6845;
$blueColor: #418DFE;
$yellowColor: #FF9F46;
$titleMFontSize: 25px;
$paraMFontSize: 15px;
body {
    position: relative;
    background: #fff;
}

%symptomsButton{
        margin-left: 3px;
        margin-top: 18px;
        margin-bottom: 5px;
        width: auto;
        background: #fff;
        border: none;
        color: $orangeColor;
        outline: none;
        font-weight: 700;
        text-transform: uppercase;
        width: 200px;
        height: 50px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 1px 2px 3px rgb(207, 203, 203);
        border-radius: 20px;
        &:hover{
            background: $orangeColor;
            color: #fff;
            transition: all .2s ease-in;
        }
}

.removeLoader{
    display: none;
    width: 0px;
    height: 0pc;
}

.firstSection{
    position: relative;
}


.firstSection {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    & #map{
        height: 100%;
    }
}


// .loader{
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     z-index: 9999999;
//     & .L_circle_container{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         height: 45px;
//         width: 65px;
//         z-index: 99999;
//         overflow: visible;

//         & .L_circle{
//             position: absolute;
//             height: 25px;
//             width: 25px;
//             border-radius: 50%;
//             background: #E31A1C;
//         }

//         & .L_circle:nth-child(1){
//             left: 0%;
//             animation: animL 1.4s linear infinite;
//             background: #FD8D3C;
//             background: #E31A1C;
            
//         }
//         & .L_circle:nth-child(2){
//             left: 50%;
//             animation:  animL 1.4s linear infinite;
//             animation-delay: 0.4s;
//             background: #E31A1C;
//             background: #FD8D3C;
//         }
//         & .L_circle:nth-child(3){
//             left: 100%;
//             background: #FED976;
//             animation: animL 1.4s linear infinite;
//             animation-delay: 0.8s;
//         }
//     }
// }

.secondSection {
    background: #F9F9F9;
    position: relative;
    width: 99%;
    margin: 0 auto;
    height: auto;
    //overflow-x: hidden;
    border: 2px solid rgba(236, 232, 232, 0.432) !important;
    //box-shadow: 0px 0px 3px rgb(226, 221, 221);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 0px !important;

    & .topTip{
        margin-top: 20px;
        position: absolute;
        height: 3px;
        width: 60px;
        left: 50%;
        border-radius: 30px;
        background: #2c3e50;
        //box-shadow: 0px 0px 3px rgb(226, 221, 221);

        &::before, &::after{
            position: absolute;
            content:"";
            height: 100%;
            width: 60%;
            left: 50%;
            background: inherit;
            border-radius: inherit;
            transform: translateX(-50%);
        }
        &::before{
            top: -10px;
        }
        &::after{
            bottom: -10px;
        }
    }
}

.sectionWorldTotal{
    margin-top: 80px;
    width: 100%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 0;
    min-width: 0;
    // child-container justify content /-middle congest 
    & div.WT_side_inform{
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        min-height: 0;
        min-width: 0;
        overflow: visible;
        justify-content: left;
        
        & h1 {
            color: #2c3e50;
            font-size: $titleMFontSize;
            font-weight: 800;

            & span {
                font-size: inherit;
                color: #FE6845;
            }
        }
        & p {
            overflow: hidden;
            color: #666a6d;
            font-size: $paraMFontSize;
            margin-top: 18px;
            font-weight: 400;
            text-align: justify;
        }

        & p:nth-child(3), & p:nth-child(4){
            display: none;
        }

        & button.wt_toStatisticsButton{
            margin-left: 3px;
            margin-top: 20px;
            margin-bottom: 5px;
            width: auto;
            background: #fff;
            border: none;
            color: $orangeColor;
            outline: none;
            font-weight: 700;
            text-transform: uppercase;
            width: 200px;
            height: 50px;
            font-size: 14px;
            cursor: pointer;
            box-shadow: 1px 2px 3px rgb(207, 203, 203);
            border-radius: 20px;
            color: #fff;background: $orangeColor;

            &:hover{
                background: $orangeColor;
                color: #fff;
                transition: all .2s ease-in;
            }

        }
    }

    & div.worldTotalContainer {
        margin-top: 25px;
        min-height: 0;
        min-width: 0;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3,160px);
        justify-content: center;
        & .worldTotalDiv{
            overflow: hidden;
            display: grid;
            text-align: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            background: #fff;
            box-shadow: 0px 2px 5px rgb(228, 224, 224);
            border-radius: 22px;
            //border: 1px solid red;
            color: #FFF;
            &:nth-child(1){
                //background: linear-gradient(to right, #2980b9,#3498db);
                grid-area: 1/1/2/5;
                color: $blueColor;
            }
            &:nth-child(2){
                //background: #c0392b;
                grid-area: 2/1/3/3;
                color: #c0392b;
            }
            &:nth-child(3){
                //@error/: #2ecc71;
                grid-area: 2/3/3/5;
                color: #2ecc71;
            }
            &:nth-child(4){
               // background: #2980b9;
               //@warn background-color: #f1c40f;
                grid-area: 3/1/4/3;
                color: #2980b9;
            }
            &:nth-child(5){
               // background: #e74c3c;
                grid-area: 3/3/4/5;
                color: #e74c3c;
            }
    
    
            & .worldTotalFirstP{
                font-size: 35px;
                font-weight: 700;
            }
            & .worldTotalSecondP{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
.section_symptoms{
    position: relative;
    width: 100%;
    background: #fff;
    padding-bottom: 60px;
    overflow-x: hidden;
    &::after{
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 120%;
        height: 50px;
        background: inherit;
        transform: rotate(2deg);
        transform-origin: top left;
        z-index: 999;
        background: #F9F9F9;
    }
    // main_SymptomsContainer
    & .symptomsContainer{
        margin: 0px auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        & .symptomsIntro{
            margin-top: 60px;
            & h1 {
                color: #2c3e50;
                font-size: $titleMFontSize;
                font-weight: 800;
    
                & span {
                    font-size: inherit;
                    color: #FE6845;
                }
            }

            & h4 {
                color: #2c3e50;
                margin-top: 18px;
                text-decoration: underline;
            }
            & p {
                overflow: hidden;
                color: #666a6d;
                font-size: $paraMFontSize;
                margin-top: 5px;
                font-weight: 400;
                text-align: justify;
            }
        }
    }


}
.prevention{
    overflow: hidden;
    background: #F9F9F9;
    &::after{
        background: inherit;
        background: #ffffff;
    }
}
.sectionDataTable {
    width: 100%;
    position: relative;
    width: 100%;
    background: #fff;
    padding-bottom: 60px;

    & .fixLine{
        position: relative;
        height: 60px;
        width: 100%;
        overflow: hidden !important;
        &::after{
            content: "";
            position: absolute;
            top: -50px;
            left: 0;
            width: 120%;
            height: 50px;
            background: inherit;
            transform: rotate(2deg);
            transform-origin: top left;
            z-index: 999;
            background: #F9F9F9;
        }
    }
   & .tableContainer{
        position: relative;
        margin: 20px auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        width: 100%;
        & div.TableIntro{
            & h1 {
                color: #2c3e50;
                font-size: $titleMFontSize;
                font-weight: 800;
    
                & span {
                    font-size: inherit;
                    color: #FE6845;
                }
            }
        }
        & .covidAd{
            margin-top: 20px;
            width: 100%;
            height: 50px !important;
            border: none;
            box-shadow: none !important;
        }
        & .ul_dataTable {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            margin: 30px auto;
            min-width: 580px;
            justify-items: center;
            align-items: center;
            & .ul_dataTableListHeading{
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                
                & h4 {
                    border: 1px solid #ddd;
                    border-left: none;
                    border-top: none;
                }
            }
            & .ul_dataTableList{
                //border-left:0.5px solid #C4C4C4; 
               // border-right:0.5px solid #C4C4C4;
                border-left: 1px solid #ddd;
                overflow: inherit;
                width: 100%;
                min-height: 35px;
                display: grid;
                grid-template-columns: 100px repeat(6,1fr); 
                align-items: center;
                background: #fff;
                //transition: all 0.3s ease;         
                & h3 {
                    border: 1px solid #ddd;
                    border-left: none;
                    border-top: none;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 600;
                    padding-left: 10px;
                    
                }
                &:hover{
                    background:  #eee;
                    transition: all 0.1s ease-in;
                }
                & .li_heading{
                    background: #fff !important;
                    color: #2c3e50 !important;
                    padding-left: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    height: 100%;
                    width: 100%;
                    align-self: center;
                    display: grid;
                    align-items: center;
                    font-size: 13px;
                    font-weight: 700;
                }
                & h3.ul_DT_recovered{
                }
                & h3.ul_DT_nDeaths{
                }
    
                & h3.ul_DT_serious{
                  
                }
                
                & h3.ul_DT_country{
                    padding-left: 10px;
                }
                & h3.ul_DT_active{
                }
            }
        }
    }

}

.adsbygoogle{
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid red;
    position: relative;
    width: 99%;
    margin: 0 auto;
    border: 2px solid rgba(236, 232, 232, 0.432) !important;
    border-top: 0px !important;
}

@keyframes animL {
    0% {top: 0%; }
    25% {top: -8%; }
    50% {top: 0%; }
    75% {bottom: -8%; }
    75% {top: 0%; } 
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
 }

 @media (min-width: 620px) {
    .ul_dataTable {
        width: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .firstSection {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        & #map{
            height: 100%;
        }
    }
    .sectionWorldTotal{
        width: 100%;
        margin: 90px auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        padding-left: 20px;
        padding-right: 20px;
        grid-column-gap: 40px;
        
        // child-container justify content /-middle congest 
        & div.WT_side_inform{
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            align-content: center;
            align-content: center;
            justify-content: right;
            & h1 {
                font-size: 30px;
                font-weight: 800;
            }
            & p {
                font-size: 16px;
                margin-top: 18px;
                font-weight: 600;
                display: grid !important;
            }
    
            & button.wt_toStatisticsButton{
                margin-top: 35px;
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 14px;
            }
        }
    
        & div.worldTotalContainer {
            margin-top: 0px;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3,160px);
            justify-content: left;
            & .worldTotalDiv{
                & .worldTotalFirstP{
                    font-size: 35px;
                    //font-size: 40px;
                    font-weight: 700;
                }
                & .worldTotalSecondP{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
    .section_symptoms{
       
        // main_SymptomsContainer
        & .symptomsContainer{
            padding-top: 20px;
            padding-bottom: 60px;
            padding-left: 20px;
            padding-right: 20px;
            & .symptomsIntro{
                & h1 {
                    font-size: 30px;
                    font-weight: 800;
                    & span {
                        font-size: inherit;
                    }
                }
    
                & h4 {
                    color: #2c3e50;
                    margin-top: 18px;
                    text-decoration: underline;
                }
                & p {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    
    
    }

    .sectionDataTable {
       & .tableContainer{
            padding-top: 20px;
            padding-bottom: 60px;
            padding-left: 20px;
            padding-right: 20px;
            & div.TableIntro{
                & h1 {
                    font-size: 30px;
                    font-weight: 800;
                }
            }
    
            & .ul_dataTable {
                width: 700px;
                position: relative;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                justify-items: center;
                align-items: center;
                margin-left: 0;
                & .ul_dataTableList{
                    //border-left:0.5px solid #C4C4C4; 
                   // border-right:0.5px solid #C4C4C4;
                    display: grid;
                    grid-template-columns: 100px repeat(6,1fr); 
                    align-items: center;
                    //transition: all 0.3s ease;         
                    & h3 {
                        display: flex;
                    }
                    & .li_heading{
                        display: grid;
                    }
                }
            }
        }
    
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .secondSection{
      
    }
    .sectionWorldTotal{
        width: 950px;
        margin: 90px auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-column-gap:50px;
        & div.WT_side_inform{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            align-content: center;
            justify-content: right;
        }
        & div.worldTotalContainer {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3,160px);
            justify-content: left;
            & .worldTotalDiv{
                & .worldTotalFirstP{
                    font-size: 40px;
                }
            }
        }
    }
    .section_symptoms{
        // main_SymptomsContainer
        & .symptomsContainer{
            width: 950px;
        }
    }
    .sectionDataTable {
    
        & .fixLine{
            position: relative;
            height: 60px;
            width: 100%;
            overflow: hidden !important;
            &::after{
                content: "";
                position: absolute;
                top: -50px;
                left: 0;
                width: 120%;
                height: 50px;
                background: inherit;
                transform: rotate(2deg);
                transform-origin: top left;
                z-index: 999;
                background: #F9F9F9;
            }
        }
       & .tableContainer{
            width: 950px;
            & .ul_dataTable {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                width: 100%;
                & .ul_dataTableList{
                    min-height: 40px;
                    display: grid;
                    grid-template-columns: 150px repeat(6,1fr); 
                    align-items: center;
                    //transition: all 0.3s ease;         
                    & h3 {
                        display: flex;
                        font-size: 15px;
                        padding-left: 10px;   
                    }
                    & .li_heading{
                        font-size: 15px;
                        font-weight: 700;
                        min-height: 40px;
                    }
                }
            }
        }
    
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
    .secondSection{
    }
    .sectionWorldTotal{
        width: 1100px;
        margin: 90px auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-column-gap:70px;
        & div.WT_side_inform{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            align-content: center;
            justify-content: right;
        }
        & div.worldTotalContainer {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3,160px);
            justify-content: left;
            & .worldTotalDiv{
                & .worldTotalFirstP{
                    font-size: 40px;
                }
            }
        }
    }
    .section_symptoms{
        // main_SymptomsContainer
        & .symptomsContainer{
            width: 1100px;
        }
    }
    .sectionDataTable {
       & .tableContainer{
            width: 1100px;
            & .ul_dataTable {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                width: 100%;
                & .ul_dataTableList{
                    min-height: 40px;
                    display: grid;
                    grid-template-columns: 150px repeat(6,1fr); 
                    align-items: center;
                    //transition: all 0.3s ease;         
                    & h3 {
                        display: flex; 
                    }
                }
            }
        }
    
    }
}







